<%- include('../layouts/adminheader.ejs') %>
<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add New Product</a>
<br><br>

<% if(count > 0) { %>
<table class="table table-striped alignmiddle">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) { %>
        <tr>
            <td><%= product.title %></td>
            <td>$<%= parseFloat(product.price).toFixed(2) %></td>
            <td><%= product.category %></td>
            <td>
                <% if(product.image == '') { %>
                <img id="noImage" src="/images/noImage.png">
                <% } else { %>
                <img id="noImage" src="/product_images/<%= product.id %>/<%= product.image %>">
                <% } %>
            </td>
            <td><a href="/admin/products/edit-product/<%= product.id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product.id %>">Delete</a></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<div class="text-center">
    <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (current == 1) { %>
        <li class="disabled"><a>First</a></li>
        <% } else { %>
        <li><a href="/admin/products/?page=1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active"><a><%= i %></a></li>
        <% } else { %>
        <li><a href="/admin/products/?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <% } %>
        <% if (current == pages) { %>
        <li class="disabled"><a>Last</a></li>
        <% } else { %>
        <li><a href="/admin/products/?page=<%= pages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</div>



<% } else { %>
<h3 class="text-center">There are no product</h3>
<% } %>



<%- include('../layouts/adminfooter.ejs')%>